.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.6);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
.input__submit:hover {
  background-color: #388ae2;
}
.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(50, 195, 205);
}

.todos__heading {
  font-size: 30px;
  color: white;
}

.todos__single {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background: rgb(255, 208, 0);
  transition: 0.2s;
}
.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}
.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  width: 100%;
}
.todos__single--text:focus {
  outline: none;
}
s.todos__single--text {
  font-weight: bold;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
}

.remove {
  background-color: rgb(235, 103, 80);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.drag {
  box-shadow: 0 0 20px black;
}